<a href="https://colab.research.google.com/github/Azrarag/apartment-price-predection/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import random
from math import *
import numpy as np
import pandas as pd 
import seaborn as sns

In [2]:
def MatrixA(xi,m):
    n=len(xi)-1
    A=np.zeros((n+1,m+1))
    for i in range(n+1):
        for j in range(m+1):
            A[i,j]=xi[i]**j
    return A

In [3]:
def horner(p,x):
    n=len(p)-1
    b=p[n]
    
    for k in range(n-1,-1,-1):
        b=p[k]+b*x
    return b

In [4]:
def coeffRegression(xi,yi,m):
    #remplissage de la matrice A
    A=MatrixA(xi,m)
    b=yi
   # At=np.transpose(A)
    At=A.T
    B=At@A
    #B=np.matmul(At,b)
    C=At@b
    w=np.linalg.solve(B,C)
    #a=la.solve(B,C)
    #y=horner(a,x)
    return w

In [5]:
def polyRegression(w,x):
    y=horner(w,x)
    return y

In [6]:
#les parisiens ont noté les arondissements, on a le dictionnaire suivant:
#NoteArrondissement={"Arrondissement":Note sur 100,....,"Arrondissementn":Note sur 100}

NoteArrondissement={"6":76,"12":73.3,"15":59.1,"16":76,"17":65.3,"19":59.8}

#NoteArrondissement=np.array[[6,76],[12,73.3],[15,58.1],[16,76],[17,65.3],[19,59.8]]

surface=[67,26,118,163,87,14,45,54,75,26,38,85,73,66,64,113,18,23,8]

Nbpieces=[3,1,3,5,4,1,2,3,4,2,2,3,3,3,3,4,1,1,1]

arrondissement=[17,17,12,6,19,12,15,19,16,12,12,16,17,15,15,16,12,15,12]

etage=[5,5,3,4,5,5,1,3,4,4,7,8,2,1,2,8,3,3,7]

prix=[770,321,1300,2890,678,240,460,480,965,315,430,1038,815,730,748,1595,219,295,99]

print(len(surface),len(Nbpieces),len(arrondissement),len(etage),len(prix))

surface1=[34,53,18,59,40,66,36,78,80]
Nbpiece1=[2,2,1,3,2,3,1,4,4]
arrondissement1=[15,15,17,19,17,12,15,16,15]
etage1=[7,1,5,3,3,4,6,3,10]
prix1=[330,737,147,570,420,675,417,1090,935]

surface.extend(surface1)
Nbpieces.extend(Nbpiece1)
arrondissement.extend(arrondissement1)
etage.extend(etage1)
prix.extend(prix1)

19 19 19 19 19

In [8]:
#visualiser les données sous forme d'un tableau en utilsant la bibliotheque Pandas
data={"Surface (en m2)":surface,"Nbpieces":Nbpieces,"Arrondissement":arrondissement,"Etage":etage,"Prix en (k$)":prix}
data_pandas=pd.DataFrame(data)
display(data_pandas)

    Surface (en m2)  Nbpieces  Arrondissement  Etage  Prix en (k$)
0                67         3              17      5           770
1                26         1              17      5           321
2               118         3              12      3          1300
3               163         5               6      4          2890
4                87         4              19      5           678
5                14         1              12      5           240
6                45         2              15      1           460
7                54         3              19      3           480
8                75         4              16      4           965
9                26         2              12      4           315
10               38         2              12      7           430
11               85         3              16      8          1038
12               73         3              17      2           815
13               66         3              15      1           730
14               64         3              15      2           748
15              113         4              16      8          1595
16               18         1              12      3           219
17               23         1              15      3           295
18                8         1              12      7            99
19               34         2              15      7           330
20               53         2              15      1           737
21               18         1              17      5           147
22               59         3              19      3           570
23               40         2              17      3           420
24               66         3              12      4           675
25               36         1              15      6           417
26               78         4              16      3          1090
27               80         4              15     10           935

In [9]:
surface=np.array(surface)
Nbpieces=np.array(Nbpieces)
arrondissement=np.array(arrondissement)
etage=np.array(etage)
prix=np.array(prix)

In [13]:
def fonctCaract(Arrond,etage,NbPieces):
    """cette fonction permet de déterminer les caracteristiques de chaque app selon la note,l'étage et le nombre de pieces """
    noteArrond=NoteArrondissement[Arrond]
    caracteristique=noteArrond/100+(8-etage)/8+NbPieces/6
    return caracteristique

In [ ]:
# définir le prix de métre carré et les caractéristiques de chaque appartement 
n=len(surface)
noteArrond=np.zeros(surface.shape)
caract=np.zeros(surface.shape)
prixAuMetre2=np.zeros(surface.shape)

for i in range(n):
    Arrond=str(arrondissement[i])
    caract[i]=fonctCaract(Arrond,etage[i],Nbpieces[i])
    prixAuMetre2[i]=(prix[i]/surface[i])
    
print(prixAuMetre2)
print(caract)